/* lightrope | Source: https://codepen.io/tobyj/pen/QjvEex */

    .lightrope {
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        position: fixed;
        z-index: 2;
        margin: -15px 0 0 0;
        padding: 0;
        pointer-events: none;
        width: 100%;
    }
    .lightrope li {
        position: relative;
        -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;
        width: 12px;
        height: 28px;
        border-radius: 50%;
        margin: 20px;
        display: inline-block;
        background: #00f7a5;
        box-shadow: 0px 4.6666666667px 24px 3px #00f7a5;
        -webkit-animation-name: flash-1;
                animation-name: flash-1;
        -webkit-animation-duration: 2s;
                animation-duration: 2s;
    }
    .lightrope li:nth-child(2n+1) {
        background: cyan;
        box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.5);
        -webkit-animation-name: flash-2;
                animation-name: flash-2;
        -webkit-animation-duration: 0.4s;
                animation-duration: 0.4s;
    }
    .lightrope li:nth-child(4n+2) {
        background: #f70094;
        box-shadow: 0px 4.6666666667px 24px 3px #f70094;
        -webkit-animation-name: flash-3;
                animation-name: flash-3;
        -webkit-animation-duration: 1.1s;
                animation-duration: 1.1s;
    }
    .lightrope li:nth-child(odd) {
        -webkit-animation-duration: 1.8s;
                animation-duration: 1.8s;
    }
    .lightrope li:nth-child(3n+1) {
        -webkit-animation-duration: 1.4s;
                animation-duration: 1.4s;
    }
    .lightrope li:before {
        content: "";
        position: absolute;
        background: #222;
        width: 10px;
        height: 9.3333333333px;
        border-radius: 3px;
        top: -4.6666666667px;
        left: 1px;
    }
    .lightrope li:after {
        content: "";
        top: -14px;
        left: 9px;
        position: absolute;
        width: 52px;
        height: 18.6666666667px;
        border-bottom: solid #222 2px;
        border-radius: 50%;
    }
    .lightrope li:last-child:after {
        content: none;
    }
    .lightrope li:first-child {
        margin-left: -40px;
    }
    
    @-webkit-keyframes flash-1 {
        0%, 100% {
        background: #00f7a5;
        box-shadow: 0px 4.6666666667px 24px 3px #00f7a5;
        }
        50% {
        background: rgba(0, 247, 165, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 0.2);
        }
    }
    
    @keyframes flash-1 {
        0%, 100% {
        background: #00f7a5;
        box-shadow: 0px 4.6666666667px 24px 3px #00f7a5;
        }
        50% {
        background: rgba(0, 247, 165, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 0.2);
        }
    }
    @-webkit-keyframes flash-2 {
        0%, 100% {
        background: cyan;
        box-shadow: 0px 4.6666666667px 24px 3px cyan;
        }
        50% {
        background: rgba(0, 255, 255, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.2);
        }
    }
    @keyframes flash-2 {
        0%, 100% {
        background: cyan;
        box-shadow: 0px 4.6666666667px 24px 3px cyan;
        }
        50% {
        background: rgba(0, 255, 255, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.2);
        }
    }
    @-webkit-keyframes flash-3 {
        0%, 100% {
        background: #f70094;
        box-shadow: 0px 4.6666666667px 24px 3px #f70094;
        }
        50% {
        background: rgba(247, 0, 148, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 0.2);
        }
    }
    @keyframes flash-3 {
        0%, 100% {
        background: #f70094;
        box-shadow: 0px 4.6666666667px 24px 3px #f70094;
        }
        50% {
        background: rgba(247, 0, 148, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 0.2);
        }
    }
  

/* Ornaments | Source: https://codepen.io/taupecat/pen/MaRXXv */

    .ornaments {
        display: flex;
        justify-content: center;
        left: 50%;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        z-index: 1;
    }
    
    .ornament {
        background-color: #f06;
        background-image: radial-gradient(circle at right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
        border-radius: 50%;
        box-shadow: inset 5px 5px 1em rgba(255, 255, 255, 0.6);
        height: 44px;
        margin: 0 1em;
        opacity: 0.5;
        position: relative;
        width: 44px;
    }
    .ornament:nth-of-type(1) {
        -webkit-transform: rotate(-5deg);
                transform: rotate(-5deg);
        -webkit-animation: ornament 2s infinite;
                animation: ornament 2s infinite;
    }
    .ornament:nth-of-type(2) {
        -webkit-transform: rotate(10deg);
                transform: rotate(10deg);
        -webkit-animation: ornament 2s 0.5s infinite;
                animation: ornament 2s 0.5s infinite;
    }
    .ornament:nth-of-type(3) {
        -webkit-transform: rotate(-10deg);
                transform: rotate(-10deg);
        -webkit-animation: ornament 2s 1s infinite;
                animation: ornament 2s 1s infinite;
    }
    .ornament:nth-of-type(4) {
        -webkit-transform: rotate(-5deg);
                transform: rotate(-5deg);
        -webkit-animation: ornament 2s infinite;
                animation: ornament 2s infinite;
    }
    .ornament:nth-of-type(5) {
        -webkit-transform: rotate(10deg);
                transform: rotate(10deg);
        -webkit-animation: ornament 2s 0.5s infinite;
                animation: ornament 2s 0.5s infinite;
    }
    .ornament:nth-of-type(6) {
        -webkit-transform: rotate(-10deg);
                transform: rotate(-10deg);
        -webkit-animation: ornament 2s 1s infinite;
                animation: ornament 2s 1s infinite;
    }
    .ornament:nth-of-type(7) {
        -webkit-transform: rotate(-5deg);
                transform: rotate(-5deg);
        -webkit-animation: ornament 2s infinite;
                animation: ornament 2s infinite;
    }
    .ornament:nth-of-type(8) {
        -webkit-transform: rotate(10deg);
                transform: rotate(10deg);
        -webkit-animation: ornament 2s 0.5s infinite;
                animation: ornament 2s 0.5s infinite;
    }
    .ornament:nth-of-type(9) {
        -webkit-transform: rotate(-10deg);
                transform: rotate(-10deg);
        -webkit-animation: ornament 2s 1s infinite;
                animation: ornament 2s 1s infinite;
    }
    .ornament:nth-of-type(10) {
        -webkit-transform: rotate(-5deg);
                transform: rotate(-5deg);
        -webkit-animation: ornament 2s infinite;
                animation: ornament 2s infinite;
    }
    .ornament:nth-of-type(11) {
        -webkit-transform: rotate(10deg);
                transform: rotate(10deg);
        -webkit-animation: ornament 2s 0.5s infinite;
                animation: ornament 2s 0.5s infinite;
    }
    .ornament:nth-of-type(12) {
        -webkit-transform: rotate(-10deg);
                transform: rotate(-10deg);
        -webkit-animation: ornament 2s 1s infinite;
                animation: ornament 2s 1s infinite;
    }
    .ornament:nth-of-type(13) {
        -webkit-transform: rotate(-5deg);
                transform: rotate(-5deg);
        -webkit-animation: ornament 2s infinite;
                animation: ornament 2s infinite;
    }
    .ornament:nth-of-type(14) {
        -webkit-transform: rotate(10deg);
                transform: rotate(10deg);
        -webkit-animation: ornament 2s 0.5s infinite;
                animation: ornament 2s 0.5s infinite;
    }
    .ornament:nth-of-type(15) {
        -webkit-transform: rotate(-10deg);
                transform: rotate(-10deg);
        -webkit-animation: ornament 2s 1s infinite;
                animation: ornament 2s 1s infinite;
    }
    .ornament::before {
        position: absolute;
        content: "";
        display: block;
        width: 10px;
        height: 5px;
        top: -4px;
        background-color: #fff;
        left: 50%;
        margin-left: -5px;
        border-radius: 2px 2px 0 0;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    }
    .ornament .hook {
        position: absolute;
        border-color: #fff;
        height: 20px;
        width: 10px;
        border-width: 1px 1px 0 1px;
        top: -24px;
        border-style: solid;
        border-radius: 50% 50% 0 0;
        left: 21px;
    }
    .ornament .hook::before {
        content: "";
        display: block;
        height: 50%;
        background-color: #00aeef;
        position: absolute;
        bottom: 0;
        width: 3px;
        right: -2px;
    }
    
    @-webkit-keyframes ornament {
        0% {
        opacity: 0.5;
        }
        33% {
        opacity: 1;
        }
        67% {
        opacity: 0.5;
        }
    }
    
    @keyframes ornament {
        0% {
        opacity: 0.5;
        }
        33% {
        opacity: 1;
        }
        67% {
        opacity: 0.5;
        }
    }
  
